.design-container{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    position: relative;
    font-family: "Albert sans";
}


.design-container .design-box{
    position: relative;
    /* padding: 0px 30px; */

    display: flex;
    gap: 30px;
}

.design-container .design-box .img-container {
    position: relative;
    cursor: pointer;
}



.design-container .design-box .img-container img{
    
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    scale: 1;

}

.design-container .design-box .img-container:hover img{
    /* scale: 1.1; */
}


.design-container .design-box .one {
    /* width: 610px;  */
    height: 630px;
}
/* .design-container .design-box .one img{

height: 100%;
width: 100%;

} */


.design-container .design-box .two{

display: flex;
flex-direction: column;
gap: 30px;


}

.design-container .design-box .two .mini-img{
    /* width: 610px;*/
    height: 300px; 


}

/* .design-container .design-box .two img{
 
    height: 100%;
width: 100%;
} */


.design-container .design-box  .one .content{
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-size: 18px;


}
.design-container .design-box .img-container .content h5{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.design-container .design-box .img-container .content p{
    font-size: 18px;
text-align: left;
    margin-bottom: 10px;
}
.design-container .design-box .img-container .content span{

   font-size: 14px;
   border-bottom: 1px solid white;
   padding-bottom: 5px;
}

.design-container .design-box .img-container .content span:hover {
    color: brown;
    border-color: brown;
}

.design-container .design-box  .mini-img{
    position: relative;
}
.design-container .design-box  .mini-img .content{

    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    font-size: 18px;

}

@media (max-width:880px){
    .design-container .design-box .one {
    height: 580px;
    }
    .design-container .design-box .two .mini-img{

height:275px;


}
}
@media (max-width:820px){
    .design-container .design-box .one {
    height: 570px;
    }
    .design-container .design-box .two .mini-img{

height:270px;


}
}
@media (max-width:767px){
    .design-container{
        padding: 10px 20px;

    }
    .design-container .design-box{
        flex-direction:  column;
width: 100%;
        
    }
.design-container .design-box .one {
height: 315px;
}


.design-container .design-box .two .mini-img{

height: 315px;
}
.design-container .design-box{

gap: 15px;
}
.design-container .design-box .img-container img{
    object-fit: cover;
}
.design-container .design-box  .one .content{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;


}
.design-container .design-box .img-container .content h5{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
}
.design-container .design-box .img-container .content p{
    font-size: 16px;

    margin-bottom: 8px;
}
.design-container .design-box .img-container .content span{

   font-size: 14px;
   border-bottom: 1px solid white;
   padding-bottom: 5px;
   font-weight: 500;
}

}
