.design-container{
    display: flex;
    justify-content: center;
    /* padding: 20px 20px; */
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    font-family: "Albert sans";
}


.design-container .design-box{
    position: relative;
      /* margin: 0 -30px;  */
      /* width: 99%; */
      margin: 0 auto;
    display: flex;
    gap: 30px;
}

.design-container .design-box .img-container {
    position: relative;
    cursor: pointer;

}



.design-container .design-box .img-container img{
    
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    scale: 1;
    object-fit: cover;

}

.design-container .design-box .img-container:hover img{
    /* scale: 1.1; */
}


.design-container .design-box .one {
    /* width: 610px;  */
    height: 630px;
}
/* .design-container .design-box .one img{

height: 100%;
width: 100%;

} */


.design-container .design-box .two{

display: flex;
flex-direction: column;
gap: 30px;


}

.design-container .design-box .two .mini-img{
    /* width: 610px;*/
    height: 300px; 


}

/* .design-container .design-box .two img{
 
    height: 100%;
width: 100%;
} */


.design-container .design-box  .one .content{
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-size: 18px;


}
.design-container .design-box .img-container .content h5{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.design-container .design-box .img-container .content p{
    font-size: 18px;
text-align: left;
    margin-bottom: 10px;
}
.design-container .design-box .img-container .content span{

   font-size: 14px;
   border-bottom: 1px solid white;
   padding-bottom: 5px;
}

.design-container .design-box .img-container .content span:hover {
    color: brown;
    border-color: brown;
}

.design-container .design-box  .mini-img{
    position: relative;
}
.design-container .design-box  .mini-img .content{

    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    font-size: 18px;

}

@media (min-width:1311px) {
    .design-container .design-box{
        /* border: 1px solid red; */
    }
    .design-box .img-container img{
/* border: 1px solid blue; */
        margin-right: 50px;


    }

    
}
@media (min-width:1450px) {
    .design-box .img-container img{
        margin-right: 50px;
    }
    .design-container .design-box .one {
        /* width: 610px;  */
        height: 670px;
    }
    .design-container .design-box .two .mini-img{
        /* width: 610px;*/
        height: 320px; 
    
    
    }
    
}
@media (min-width:1450px) {
    .design-box .img-container img{
        margin-right: 50px;
    }
    .design-container .design-box .one {
        /* width: 610px;  */
        height: 710px;
    }
    .design-container .design-box .two .mini-img{
        /* width: 610px;*/
        height: 340px; 
    
    
    }
}
@media (min-width:1550px) {
    .design-box .img-container img{
        margin-right: 50px;
    }
    .design-container .design-box .one {
        /* width: 610px;  */
        height: 750px;
    }
    .design-container .design-box .two .mini-img{
        /* width: 610px;*/
        height: 360px; 
    
    
    }
}
@media (max-width:1150px) {
    .design-container{
        padding-top: 68px;
        padding-bottom: 80px;
    }
    .design-container .design-box{
       padding: 0 30px;
       margin: 0 0 !important;
    }
    .design-box .design-container .img-container img{
    }
}

@media (max-width:880px){
    .design-container .design-box .one {
    height: 580px;
    }
    .design-container .design-box .two .mini-img{

height:275px;


}
}
@media (max-width:820px){
    .design-container .design-box .one {
    height: 570px;
    }
    .design-container .design-box .two .mini-img{

height:270px;


}
}
@media (max-width:767px){
    .design-container{
        padding: 10px 20px;
        padding-top: 26px;
        padding-bottom: 30px;

    }
    .design-container .design-box{
        flex-direction:  column;
        /* border: 1px solid red; */
        padding: 0 0;

width: 100%;
        
    }
    .design-container .design-box{
     }
.design-container .design-box .one {
height: 315px;
}


.design-container .design-box .two .mini-img{

height: 315px;
}
.design-container .design-box{

gap: 15px;
}
.design-container .design-box .img-container img{
    object-fit: cover;
}
.design-container .design-box  .one .content{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;


}
.design-container .design-box .img-container .content h5{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
}
.design-container .design-box .img-container .content p{
    font-size: 16px;

    margin-bottom: 8px;
}
.design-container .design-box .img-container .content span{

   font-size: 14px;
   border-bottom: 1px solid white;
   padding-bottom: 5px;
   font-weight: 500;
}

}
